@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700|Roboto:100,400,500,700&display=swap');

:root {
  /* Criando variáveis */
  /* Para chamar a variável -> var(--color-green) */
  --color-green: #50fa7b;

}

*{
  margin:0;
  padding: 0;
  border:0;
}

body {
  background-color:#282a36;
  font-family: 'Roboto', sans-serif;
}

header {
  margin:0;
  padding:30px;
  border-bottom: 1px solid #444;
  background-color: rgba(0,0,0,0.2);
}

/* Aprofundamento - Cascata - indo diretamente no elemento */
.links {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.links a {
  margin-left: 30px;
  color:#FFF;
  font-size: 18px;
  line-height: 28px; /* Espaçamento da linha*/
  text-decoration: none;

}

.links a:hover{
  color:var(--color-green);
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-green);
  transition: color 300ms;
}

#wrapper {
  max-width:500px;
  margin: 16px auto;
  padding: 30px;
  text-align: center;
  color:#ccc;
  font-family: 'Montserrat', sans-serif;
}

#wrapper img {
  height: 220px;
  border-radius:50%;
  border: 3px solid var(--color-green);
  margin-bottom: 30px;
}

#wrapper h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
}

#wrapper h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  /* margin-top: 2px; */
}

#wrapper p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 20px  ;
}

#tecnologias {
  color: #ccc;
  text-align: center;
  line-height: 20px;
  margin: 2 0px 0;
}

#tecnologias h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 22px;  
}

#tecnologias ul {
  list-style-type: none;
  max-width: 202px;
  margin:5px auto;
}

#tecnologias ul li {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 400;
  padding: 5px 0;
  border:1px solid  var(--color-green);
  border-radius: 20px 0;
}

#links-footer {
  margin-top: 100px;
}

#links-footer  a {
  border-bottom: 1px solid var(--color-green);
  padding-bottom: 6px;
}
